{% extends 'AppEntrega3/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}
…
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Viajes, tu destino esta aqui!</h1>
    <p></p>
    <h3>Encuentra el lugar de tu sueños! <h3>
     
    <h3>Te ayudamos para que elijas tu destino, tu hospedaje y alquiles tu coche!!</h3>
    <br></br>
    <h5>NOSOTROS: somos una empresa de servicios turisticos nacida en el 2008, en Santa Fe, Provincia de Santa Fe, Argentina.<br>
    Nuestro objetivo es hacer que tu viaje sea soñado!! Y mas de 1000 viajeros ya lo han comprobado!
    </h5>

{% endblock %}
       